<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="lgofile" xsi:type="File"
            fileName="${basedir}/logs/logfile.txt" />
    </targets>
    <rules>
        <logger name="nlog" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>